<div class="row">
  <div class="col-4 temperature">
    <div class="temp">
      {{weather.main.temp}}°С
    </div>
    <div class="icon">
      <img [src]="icon" />
      <p>{{weather.weather[0].description}}</p>
    </div>
  </div>

  <div class="col-8 info-day">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Máx</th>
          <td class="max">{{weather.main.temp_max}} °C</td>
        </tr>
        <tr>
          <th scope="row">Mín</th>
          <td class="min">{{weather.main.temp_min}} °C</td>
        </tr>
        <tr>
          <th scope="row">Sunrise</th>
          <td>{{weather.sys.sunrise * 1000 | date: 'H:mm'}}</td>
        </tr>
        <tr>
          <th scope="row">Sunset</th>
          <td>{{weather.sys.sunset * 1000 | date: 'H:mm'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>